extends layout.pug

block content
    div.center.clear
        div.cell
            input#search(type="search", placeholder="start typing or click on keyboard icon")
        div.cell
            img(src="/keyboard_icon.svg", id="keyboard-icon")
    div.center
        include keyboard.html
    div.center
        div.cell.overlaybox
            div#results
        div.cell
            div.dummy 
    div#specific-results.flex-container
        div.flex-item
            h3 Meanings of #[span.highlight #{query}]
            div
                ol
                    each word in words
                        li
                            a(href='/words/' + word.translated_word.replace(/ /g, '+')) #{word.translated_word}
                            if word.part_of_speech != "" && word.part_of_speech != "NULL"
                                span &nbsp; (#{word.part_of_speech}.)
                            if word.more_details != "NULL"
                                div.more-details
                                    - var json = JSON.parse(word.more_details);
                                    // searched_for = 0 -- english
                                    // searched_for = 1 -- konkani
                                    - var searched_for = 1; if (search_param.search(/^([x00-\xFF]+)/) != -1) { searched_for = 0; }
                                    if json.scientific_name
                                        span Scientific name: #[a(href=json.scientific_url) #[span.scientific_name= json.scientific_name]]
                                        br
                                    if json.singular_kon
                                        span एकवचन: #{json.singular_kon}
                                        br
                                    if json.singular_kon
                                        span Singular: #{json.singular_eng}
                                        br
                                    if json.plural_kon
                                        span बहुवचन: #{json.plural_kon}
                                        br
                                    if json.plural_eng
                                        span Plural: #{json.plural_eng}
                                        br
                                    if json.fem_gender_kon
                                        span स्त्रीलिंग: #{json.fem_gender_kon}
                                        br
                                    if json.fem_gender_eng
                                        span Feminine: #{json.fem_gender_eng}
                                        br
                                    if json.masc_gender_kon
                                        span पुलिंग: #{json.masc_gender_kon}
                                        br
                                    if json.masc_gender_eng
                                        span Masculine: #{json.masc_gender_eng}
                                        br
                                    if json.opposite_eng
                                        span विपरीत: #{json.opposite_kon}
                                        br                                    
                                    if json.opposite_eng
                                        span Antonym: #{json.opposite_eng}
                                        br
                                    if json.explanation
                                        span= json.explanation
                                        br
        div.flex-item
            h3 Related matches for #[span.highlight #{query}]
            div
                ol
                    each word in related_words
                        li 
                            a(href='/words/'+ word.suggested_word.replace(/ /g, '+')) #{word.suggested_word} 
        div.flex-item
            if same_subcat_words[0]
                h3 Other words in #[span.highlight #{same_subcat_words[0].subcategory}]
            div
                ol
                    each word in same_subcat_words
                        li
                            if word.word_in_same_cat
                                a(href='/words/'+ word.word_in_same_cat.replace(/ /g, '+')) #{word.word_in_same_cat} 