extends layout.pug

block content
    div.center.clear
        div.cell
            input#search(type="search", placeholder="start typing or click on keyboard icon")
        div.cell
            img(src="/keyboard_icon.svg", id="keyboard-icon")
    div.center
        include keyboard.html
    div.center
        div.cell.overlaybox
            div#results
        div.cell
            div.dummy 
    div#specific-results.flex-container
        div.flex-item
            h3 Meanings of #[span.highlight #{query}]
            div
                ol
                    each word in words
                        li
                            - var is_konkani = true; if (query.search(/^([x00-\xFF]+)/) != -1) { is_konkani = false; }
                            if is_konkani
                                a(href='/words/' + word.english_word._.replace(/ /g, '+')) #{word.english_word._}
                            else
                                a(href='/words/' + word.konkani_word._.replace(/ /g, '+')) #{word.konkani_word._}
                            if word.part_of_speech._ != ""
                                span &nbsp; (#{word.part_of_speech._}.)
                            if word.more_details._ != ""
                                div.more-details
                                    - var json = JSON.parse(word.more_details._);
                                    if json.scientific_name
                                        span Scientific name: #[a(href=json.scientific_url) #[span.scientific_name= json.scientific_name]]
                                        br
                                    if json.singular_kon
                                        span एकवचन: #{json.singular_kon}
                                        br
                                    if json.singular_kon
                                        span Singular: #{json.singular_eng}
                                        br
                                    if json.plural_kon
                                        span बहुवचन: #{json.plural_kon}
                                        br
                                    if json.plural_eng
                                        span Plural: #{json.plural_eng}
                                        br
                                    if json.fem_gender_kon
                                        span स्त्रीलिंग: #{json.fem_gender_kon}
                                        br
                                    if json.fem_gender_eng
                                        span Feminine: #{json.fem_gender_eng}
                                        br
                                    if json.masc_gender_kon
                                        span पुलिंग: #{json.masc_gender_kon}
                                        br
                                    if json.masc_gender_eng
                                        span Masculine: #{json.masc_gender_eng}
                                        br
                                    if json.opposite_eng
                                        span विपरीत: #{json.opposite_kon}
                                        br                                    
                                    if json.opposite_eng
                                        span Antonym: #{json.opposite_eng}
                                        br
                                    if json.image_url
                                        a(href=json.image_url) View image
                                        br
                                    if json.konkani_example
                                        span Example. #{json.konkani_example} - #{json.example_meaning}
                                        br
                                    if json.explanation
                                        span= json.explanation
                                        br
        div.flex-item
            h3 Related matches for #[span.highlight #{query}]
            div
                ol
                    each word in related_words
                        li 
                            a(href='/words/'+ word.ParentWord._.replace(/ /g, '+')) #{word.ParentWord._}
        div.flex-item
            if same_subcat_words[0]
                h3 Other words in #[span.highlight #{same_subcat_words[0].subcategory._}]
            div
                ol
                    each word in same_subcat_words
                        li
                            - var is_konkani = true; if (query.search(/^([x00-\xFF]+)/) != -1) { is_konkani = false; }
                            if is_konkani
                                if word.konkani_word._
                                    a(href='/words/'+ word.konkani_word._.replace(/ /g, '+')) #{word.konkani_word._}
                            else
                                if word.english_word._
                                    a(href='/words/'+ word.english_word._.replace(/ /g, '+')) #{word.english_word._}

