extends layout.pug

block link
    -var selected = 'Discover!';

block content
    div#search-container.flex-container
        div.flex-item
            include keyboard.html
        div.flex-item.flex-reverse
            div.flex-inner
                input#search(type="text", class="pure-form", placeholder="type an english word or change input method")
            div.flex-inner
                div(class="btn-group btn-group-toggle", data-toggle="buttons")
                    label(class="btn btn-secondary active", for="opt-roman")
                        input(type="radio", name="options", id="opt-roman", autocomplete="off", value="roman", onchange="pramukhIME.disable();onSceenKeyboard();" checked)
                        | English
                    label(class="btn btn-secondary", for="opt-nagari")
                        input(type="radio", name="options", id="opt-nagari", autocomplete="off", value="nagari", onchange="pramukhIME.enable();onSceenKeyboard();") 
                        | कोंकणी
                    label(class="btn btn-secondary btn-long-text", for="opt-keyboard")
                        input(type="radio" name="options" id="opt-keyboard" autocomplete="off", value="keyboard", onchange="pramukhIME.enable();onSceenKeyboard();")
                        | On-screen<br/>Keyboard
        div.flex-item
            div.flex-inner
                div#results
            div.flex-inner
                div.dummy
        div.flex-item.mb-5
            span or
            br
            a.discover.btn.btn-primary.btn-lg.mx-3(href="/discover") Discover!
            span more

            

    div#specific-results
        div.flex-inner-w25
            h3 Meanings of 
            span.highlight #{query}
            div.mt-3
                ol
                    each word in words
                        li
                            - var is_konkani = true; if (query.search(/^([x00-\xFF]+)/) != -1) { is_konkani = false; }
                            if is_konkani
                                a(href='/words/' + word.english_word.replace(/ /g, '+'), data-toggle="tooltip", data-placement="right", data-offset="0 10px", title=word.english_subcategory) #{word.english_word}
                            else
                                a(href='/words/' + word.konkani_word.replace(/ /g, '+'), data-toggle="tooltip", data-placement="right", data-offset="0 10px", title=word.konkani_subcategory) #{word.konkani_word}
                            if word.part_of_speech != ""
                                span &nbsp; (#{word.part_of_speech}.)
                            if word.english_subcategory && word.konkani_subcategory
                                div.more-details
                                    span.category Category: #{word.english_subcategory}
                            if word.more_details != ""
                                div.more-details
                                    - var json = JSON.parse(word.more_details);
                                    if json.scientific_name
                                        span Scientific name: #[a(href=json.scientific_url) #[span.scientific_name= json.scientific_name]]
                                        br
                                    if json.singular_kon
                                        span एकवचन: #{json.singular_kon}
                                        br
                                    if json.singular_eng
                                        span Singular: #{json.singular_eng}
                                        br
                                    if json.plural_kon
                                        span बहुवचन: #{json.plural_kon}
                                        br
                                    if json.plural_eng
                                        span Plural: #{json.plural_eng}
                                        br
                                    if json.fem_gender_kon
                                        span स्त्रीलिंग: #{json.fem_gender_kon}
                                        br
                                    if json.fem_gender_eng
                                        span Feminine: #{json.fem_gender_eng}
                                        br
                                    if json.masc_gender_kon
                                        span पुलिंग: #{json.masc_gender_kon}
                                        br
                                    if json.masc_gender_eng
                                        span Masculine: #{json.masc_gender_eng}
                                        br
                                    if json.opposite_kon
                                        span विपरीत: #{json.opposite_kon}
                                        br                                    
                                    if json.opposite_eng
                                        span Antonym: #{json.opposite_eng}
                                        br
                                    if json.image_url
                                        a(href=json.image_url) View image
                                        br
                                    if json.konkani_example
                                        span Example. #{json.konkani_example} - #{json.example_meaning}
                                        br
                                    if json.explanation
                                        span= json.explanation
                                        br
                                    if json.interpretation
                                        span Interpretation: #{json.interpretation}
                                    if json.answer
                                        a(id='showtoggle', href='#') Show/hide answer
                                        div#answer #{json.answer} (#{json.english_answer})
        div.flex-inner-w25
            h3 Related matches for 
            span.highlight #{query}
            div.mt-3
                ol
                    each word in related_words
                        li 
                            a(href='/words/'+ word.ParentWord.replace(/ /g, '+')) #{word.ParentWord}
        
        div.flex-inner-w25
            each cat in same_subcat_words
                if cat[0]
                    span.highlight #{cat[0].english_subcategory}
                    span.highlight #{cat[0].konkani_subcategory}
                div.mt-3
                    ol
                        each word in cat
                            li
                                - var is_konkani = true; if (query.search(/^([x00-\xFF]+)/) != -1) { is_konkani = false; }
                                if is_konkani
                                    if word.konkani_word
                                        if word.konkani_word
                                            a(href='/words/'+ word.konkani_word.replace(/ /g, '+')) #{word.konkani_word}
                                else
                                    if word.english_word
                                        if word.english_word
                                            a(href='/words/'+ word.english_word.replace(/ /g, '+')) #{word.english_word}